<!-- <div id="banner">
    <img src="http://placehold.it/1920x700">
</div> -->
  <div class="banner">

    <header id="home">
        <div class="flexContainer animated fadeInUp">

<div class="row">
            <div class="flexItemHead">

            </div>
            <div class="flexItemHead">
<p class="jumbo animated bounceInLeft" id="typed1"><</p>
            </div>
            <div class="flexItemHead">
              <!-- <p><< About me</p> -->
            </div>
</div>
<div class="row">
            <div class="flexItemHead">


            </div>
            <div class="flexItemHead">
              <h1 class="typed" id="typed2"></h1>
                          <p id="typed3"></p>
            </div>
            <div class="flexItemHead">


            </div>
</div>
<div class="row">
            <div class="flexItemHead">


            </div>
            <div class="flexItemHead">
  <p class="jumbo animated bounceInRight" id="bounceleft">/></p>
            </div>
            <div class="flexItemHead">
            </div>
</div>
            <!-- <img src="<%=asset_path 'symbolopen.png'%>" alt=""> -->





        </div>
    </header>
  </div>

<!-- <div class="container"> -->
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <section id="AboutMe">
        <div class="row flexContainerSmallWrap" style="display: flex; height: 100%">
          <div class="flexItem">
            <h1 style="text-transform: uppercase;">About</br>Me</h1>
        </div>
        <div class="flexItem grow2 flexItemMax50">
          <p class="strong onePointTwo">
            Hello!, I'm Sam Turner, Web Developer based in Sydney.
          </p>
          <p class="light onePointTwo">A recent graduate offering solid IT skills, and the experience gained in creating and managing my own successful business for the past six years.</p>
          <p class="strong onePointTwo">I am confident that my combination of skills, experience and education has prepared me to make a significant contribution to the development lifecycle of any project I may embark on.</p>
        </div>
        <div class="flexItem">
          <img src="https://static.wixstatic.com/media/684ff7_818aa080a791448a91acb9f71e3fe218~mv2.jpg" width="248px" height="248px" alt="">
        </div>
      </div>
    </section>
  </div>
</div>
</div>

<div class="container-fluid YellowBG">
    <div class="container">
        <div class="row">
            <section id="Knowledge">
              <div class="flexItem">
                  <h1 style="text-transform: uppercase;">Knowledge</h1>
              </div>
                <div class="row flexContainerSmallWrap" style="display: flex; height: 100%">

                    <div class="flexItem" style="flex-basis: 50%;">
                        <div class="flexItem flexRow">
                          <img src="<%=asset_path 'php.png'%>" alt="">
                            <div class="flexItem">
Have built many large applications with PHP, including a large eCommerce application for a university assignment, in which my team achieved 95%. Have also used PHP to build an online quote generator for my business along with other smaller miscellaneous projects.                            </div>
                        </div>
                        <div class="flexItem flexRow">
                            <img src="<%=asset_path 'html.png'%>" alt="">
                            <div class="flexItem">
Very comfortable with HTML as I have been using it for years on many projects for both university and home projects.                            </div>
                        </div>
                        <div class="flexItem flexRow">
                            <img src="<%=asset_path 'css.png'%>" alt="">
                            <div class="flexItem">
Confident in CSS and frameworks such as Sass (Syntactically Awesome Style Sheets). I have used CSS extensively during university and my internship at Squiz.                            </div>
                        </div>
                        <div class="flexItem flexRow">
                            <img src="<%=asset_path 'js.png'%>" alt="">
                            <div class="flexItem">
I am also proficient in Javascript, using it in university projects, at home and at my internship.                            </div>
                        </div>
                        <div class="flexItem flexRow">
                            <img src="<%=asset_path 'iot.png'%>" alt="">
                            <div class="flexItem">
I have a longstanding interest in computers controlling real world objects. I am currently implementing 'smart home' features at home such as RFID entry, smart lights and more. I have used Raspberry Pi and arduino for these projects.                            </div>
                        </div>
                        <div class="flexItem flexRow">
                            <img src="<%=asset_path 'sql.png'%>" alt="">
                            <div class="flexItem">
I have completed many database design and admin courses at University. Have used SQL and related skills to implement an eCommerse project, as well as a wildlife tracking tool for Sydney Wildlife, among others.                            </div>
                        </div>
                    </div>
                    <div class="flexItem" style="flex-basis: 50%;">
                        <div class="flexItem flexRow">
                            <img src="<%=asset_path 'net.png'%>" alt="">
                            <div class="flexItem">
Networking has always interested me, and I achieved a High Distinction for my networking course at university.                            </div>
                        </div>
                        <div class="flexItem flexRow">
                            <img src="<%=asset_path 'java.png'%>" alt="">
                            <div class="flexItem">
I have enjoyed learning Java and I look foward to extending my knowledge by working on real world projects.                            </div>
                        </div>
                        <div class="flexItem flexRow">
                            <img src="<%=asset_path 'py.png'%>" alt="">
                            <div class="flexItem">
I have built a large project at university that required python to develop an 'Instagram'-like site.                            </div>
                        </div>
                        <div class="flexItem flexRow">
                          <img src="<%=asset_path 'jq.png'%>" alt="">
                            <div class="flexItem">
Used jQuery extensively during my studies, including a media and design story website solely consisting of jQuery. Have also used it in web projects to add extra features.                            </div>
                        </div>
                        <div class="flexItem flexRow">
                          <img src="<%=asset_path 'ps.png'%>" alt="">
                            <div class="flexItem">
I have had lots of experience with Photoshop and related programs that have supplemented my web development work.                            </div>
                        </div>
                        <div class="flexItem flexRow">
                            <img src="<%=asset_path 'dj.png'%>" alt="">
                            <div class="flexItem">
I can rock a crowd with a pair of decks :) I have been DJ'ing since I was 16 with my own DJ business, serving at over 150 events.                            </div>
                        </div>
                    </div>
                    <div class="flexItem">
                      <div class="flexItem flexRow rotate">
                        <!-- <h4>
                        << Next
                      </h4> -->
                      </div>
                      <div class="flexItem flexRow">
                      <!-- <h3>My<br>Services</h3> -->
                    </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="container-fluid BlackBG">
    <div class="container">
        <div class="row">
            <section id="ProSkills">
                <div class="flexItem">
                    <!-- <div class="flexItem"> -->
                  <h1 style="text-transform: uppercase;"><span class="whiteText">My</span><br><span class="yellowText">Skills</span></h1>
                </div>
                    <div class="row flexContainerSmallWrap" style="display: flex; height: 100%">
                    <div class="flexItem">
                    <div class="flexItem flexRow">
                    <div class="skillbar clearfix " data-percent="75%">
                        <div class="skillbar-title" style="background-color: #d35400;">
                            <span>HTML5</span>
                        </div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">75%</div>
                    </div>
                    <!-- End Skill Bar -->
                    </div>
                    <div class="flexItem flexRow">
                    <div class="skillbar clearfix " data-percent="70%">
                        <div class="skillbar-title" style="background: #2980b9;">
                            <span>CSS3</span>
                        </div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">70%</div>
                    </div>
                    <!-- End Skill Bar -->
                    </div>
                    <div class="flexItem flexRow">
                    <div class="skillbar clearfix " data-percent="50%">
                        <div class="skillbar-title" style="background: #2c3e50;">
                            <span>JavaScript</span>
                        </div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">50%</div>
                    </div>
                  </div>
                    <!-- End Skill Bar -->
                    <div class="flexItem flexRow">
                    <div class="skillbar clearfix " data-percent="80%">
                        <div class="skillbar-title" style="background: #46465e;">
                            <span>PHP</span>
                        </div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">80%</div>
                    </div>
                    </div>
                    <!-- End Skill Bar -->
                  </div>
                  <div class="flexItem">
                  <div class="flexItem flexRow">
                    <div class="skillbar clearfix " data-percent="30%">
                        <div class="skillbar-title" style="background: #333333;">
                            <span>Ruby</span>
                        </div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">30%</div>
                    </div>
                    </div>
                    <!-- End Skill Bar -->
                    <div class="flexItem flexRow">
                    <div class="skillbar clearfix " data-percent="25%">
                        <div class="skillbar-title" style="background: #27ae60;">
                            <span>Rails</span>
                        </div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">25%</div>
                    </div>
                    <!-- End Skill Bar -->
                    </div>
                    <div class="flexItem flexRow">
                    <div class="skillbar clearfix " data-percent="50%">
                        <div class="skillbar-title" style="background: #124e8c;">
                            <span>Photoshop</span>
                        </div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">50%</div>
                    </div>
                    </div>
                    <div class="flexItem flexRow">
                    <div class="skillbar clearfix " data-percent="70%">
                        <div class="skillbar-title" style="background: #124e8c;">
                            <span>SQL</span>
                        </div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">70%</div>
                      </div>
                    </div>
                  </div>
                    <!-- End Skill Bar -->
                <!-- </div> -->
            </section>
        </div>
    </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <section id="MyStory">
          <div id="TimeLineContainer">
              <h2>My Story &darr;</h2>
          </div>
          <section class="timeline">
            <ul>
              <li>
                <div>
                  <strong><time>February - July, 2017</time><br></strong>
                  Coder Factory Academy
                </div>
              </li>
              <li>
                <div>
                  <strong><time>Graduated September 2016</time><br></strong>
                  Macquarrie University - North Ryde
                </div>
              </li>
              <li>
                <div>
                <strong><time>January - February, 2016</time><br></strong>
                  Intern - Squiz
                </div>
              </li>
              <li>
                <div>
                  <strong><time>January 2012 - Present</time><br></strong>
                  Customer Service Supervisor - Woolworths Limited
                </div>
              </li>
              <li>
                <div>
                  <strong><time>May 2010 - February, 2017</time><br></strong>
                  Owner & Operator - Disco Buzz Mobile DJ
                </div>
              </li>

              <!-- more list items here -->
            </ul>
          </section>
      </section>
    </div>
  </div>
</div>
<div class="container-fluid YellowBG">
  <div class="container">
    <div class="row">
      <section id="MyWork">
          <div class="container">
              <h2>My Work</h2>
              <div id="my-github-projects"/>
              </div>
          </div>
      </section>
    </div>
  </div>
</div>

<div class="container-fluid BlackBG">
  <div class="container">
    <div class="row" style="color: white">
      <section id="Blog">
          <div class="container">
              <h2>Blog</h2>
          </div>
      </section>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <section id="Contact">
          <div class="container">
              <h2>Contact</h2>
              <div>
                <p>Sam Turner</p>
                <p>0413687477</p><br>
                <p><a href="mailto:me@samturner.net.au">me@samturner.net.au</a></p><br>
                </div>
          </div>
      </section>
    </div>
  </div>
</div>
